.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.oneh { background-color: '#457' }

.ag-header-group-cell[aria-colspan="10"] {
  border-right: 2px solid #ccd9e0;

}

.ag-header-group-cell[aria-colindex$="1"] {
  border-right: 2px solid #ccd9e0;
}

.ag-header-group-cell[aria-colindex$="1"] .ag-header-cell-resize  {
  opacity: 0.01;
}

.ag-header-group-cell[aria-colspan="10"] .ag-header-cell-resize {
  opacity: 0.01;
}

.ag-header-cell-resize  {
  z-index: 0 !important;
}

.ag-pinned-left-header {
  background: #ecf1f4;
}

.ag-text-field-input-wrapper > input  {
  margin: -10px !important;
  margin-top: 10px !important;
  
}

.ag-cell-edit-wrapper::after {
  height: 0px !important;
}

.border-top {
  border-top: 2px solid #ccd9e0 !important;
}

.ag-cell-not-inline-editing {
  line-height: 1 !important;
  padding-left: 3px !important;
}

.ag-header-group-text {
  white-space: pre !important;
  line-height: 1.1 !important;
}
